version: '3.4'
services:
  web:
    container_name: m-web
    image: multiplicacao
    build: .
    command: /bin/sh
    volumes: 
     - .:/var/www/multiplicacao 
     - ./php/php.ini:/etc/php/7.0/apache2/php.ini
    depends_on:
    - db
  db:
    container_name: m-db
    image: mysql:5.7
    restart: always
    ports: 
     - 3306:3306
    environment:
      MYSQL_ROOT_PASSWORD: root 
      MYSQL_USER: root 
      MYSQL_PASSWORD: root 
      MYSQL_DATABASE: multiplicacao 
    volumes:
      - ./mysql:/var/lib/mysql
