body {
	background : url('../img/agua_bg.jpg');
}


.container, .container-fluid{
	background : url(../img/rough_diagonal.png) white;
	/*border-radius : 4px;
	padding : 3px;
	margin-top: 0.2em;
	box-shadow: 1px 10px 10px #000;*/

}


.oculto{
	display : none ;
}

.tabelaLista{
	background : rgba(255,255,255,0.7);

}



#dataNacimento{
	width: 100px;

}

#dataNascimento input.span2, textarea.span2, .uneditable-input.span2{

}

.ui-button-icon-only {
	width: 0px;
	top:10px;
}


#pesquisa {
	font-size: 16pt;
}
#pesquisaLabel {
	font-size: 16pt;
}

#butaoPesquisa{
	margin-left: -5px;

}

